.blog-card {
    margin-bottom: 10px;
}
.blog-title {
    text-decoration: none;
}
a:hover {
    color: green;
}
.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
